[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #555;
  background-image: url("./images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}
a {
  color: #000;
  text-decoration: none;
}
.fullscreen {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
nav-bar div,
figure,
main {
  background-color: #fff;
  border: 1px solid #777;
  padding: 5px;
  margin: 0 0 5px 0;
  box-shadow: -5px 5px 15px #000;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  cursor: pointer;
  color: #eee;
  font-family: sans-serif;
  font-size: 3em;
  margin: 0.5em;
}
.primary.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-width: 650px;
  max-width: 1200px;
}
.primary.container nav {
  width: 35%;
  margin-left: 3%;
}
.primary.container nav figure {
  padding-bottom: 2px;
}
.primary.container nav figure .img-container {
  position: relative;
}
.primary.container nav figure .img-container img {
  border: 1px solid #000;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  top: 0;
}
.primary.container nav figure .img-container #bg {
  opacity: 1;
  position: relative;
}
.primary.container nav figure .img-container .activeImg {
  opacity: 1;
}
.primary.container nav nav-bar div {
  text-align: center;
}
.primary.container nav nav-bar div:hover {
  background-color: #eee;
  cursor: pointer;
  border-left: 4px solid #2b2;
}
.primary.container nav nav-bar div.activeItem {
  background-color: #ccc;
  font-weight: bold;
}
.primary.container main {
  width: 58%;
  margin-right: 3%;
  height: 600px;
}
.primary.container main div.view {
  border: 1px solid #777;
  height: 100%;
  padding: 2em;
  background-color: #eee;
  position: relative;
  transition: width 2s, height 2s, left 2s, top 2s;
}
.primary.container main div.view h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
  margin: 0.2em 1em;
}
.primary.container main div.view.portfolio {
  overflow-y: auto;
}
.primary.container main div.view.portfolio div.row {
  height: 150px;
  border: 1px solid #777;
  border-radius: 5px;
  margin: 1em;
}
.primary.container main div.view.portfolio div.row img {
  height: 130px;
}
.primary.container main div.view.portfolio div.row.trax {
  display: flex;
  align-items: center;
  border: 1px solid #91d000;
  background-color: #101416;
  color: #eee;
}
.primary.container main div.view.portfolio div.row.trax .column:last-child {
  flex-grow: 1;
  height: 90%;
  text-align: center;
  border-left: 1px solid #91d000;
}
.primary.container main div.view.portfolio div.row.trax .column:last-child i {
  font-size: 1.5em;
}
.primary.container main div.view.portfolio div.row.trax .column:last-child span {
  font-size: 0.8em;
}
.primary.container main div.view.portfolio div.row.life {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  background-color: #0078ff;
  color: #eee;
}
.primary.container main div.view.portfolio div.row.life .column:last-child {
  flex-grow: 1;
  height: 90%;
  text-align: center;
  border-left: 1px solid #91d000;
}
.primary.container main div.view.portfolio div.row.life .column:last-child i {
  font-size: 1.5em;
}
.primary.container main div.view.portfolio div.row.life .column:last-child span {
  font-size: 0.8em;
}
.primary.container main div.view.portfolio div.row.life img {
  margin-top: 10px;
}
.primary.container main div.view.resume {
  border: 1em solid #b43231;
  overflow-y: auto;
  overflow-x: hidden;
}
.primary.container main div.view.resume h1 {
  font-size: 2.5em;
  margin-bottom: 0.4em;
}
.primary.container main div.view.resume a {
  color: #b43231;
}
.primary.container main div.view.resume img {
  width: 100px;
  position: absolute;
  right: 10%;
}
.primary.container main div.view.resume p {
  line-height: 1.5em;
}
.primary.container main div.view.resume p span {
  text-decoration: underline;
}
.primary.container main div.view.resume section {
  margin-left: 2em;
}
.primary.container main div.view.resume h4 {
  padding: 0.5em;
  border-top: 3px solid #777;
  border-bottom: 1px solid #777;
}
.primary.container main div.view.resume div.grid {
  margin-left: 10%;
  line-height: 1.75em;
}
.primary.container main div.view.resume div.row {
  display: flex;
  justify-content: space-around;
}
.primary.container main div.view.resume div.row:first-child {
  justify-content: space-between;
}
.primary.container main div.view.resume div.column {
  width: 33%;
}
.primary.container main div.view.contact .rowcontainer {
  width: 65%;
  margin: auto;
}
.primary.container main div.view.contact div.row,
.primary.container main div.view.contact a {
  display: flex;
  align-items: center;
}
.primary.container main div.view.contact div.row {
  font-size: 1.25em;
}
.primary.container main div.view.contact div.row span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 1em;
  border: 1px solid #b43231;
  border-radius: 50%;
  background-color: rgba(180,50,49,0.05);
}
.primary.container main div.view.contact div.row span img {
  width: 24px;
}
@import url("http://fonts.googleapis.com/css?family=Lato:700");
html,
body {
  font-family: "Lato", sans-serif;
}
.togglable.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.toggle {
  margin: 10px;
  display: inline-block;
}
.toggle {
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.15), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(0,0,0,0.25);
  border-radius: 8px;
  background: #dce0e4;
  position: relative;
  height: 35px;
  width: 35px;
}
.toggle .button {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 10px 25px -2px rgba(0,0,0,0.5), inset 0 -3px 4px -1px rgba(0,0,0,0.2), 0 -10px 15px -1px rgba(255,255,255,0.6), inset 0 3px 4px -1px rgba(255,255,255,0.2), inset 0 0 5px 1px rgba(255,255,255,0.8), inset 0 20px 30px 0 rgba(255,255,255,0.2);
  border-radius: 50%;
  position: absolute;
  background: #ccd0d4;
  margin-left: -12.5px;
  margin-top: -12.5px;
  display: block;
  height: 25px;
  width: 25px;
  left: 50%;
  top: 50%;
}
.toggle .label {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease-out;
  text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0,0,0,0.8), 1px 1px 4px #fff;
  position: absolute;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,0.4);
}
.toggle .label i {
  font-weight: 700;
  font-size: 16px;
}
.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.toggle input:active ~ .button {
  box-shadow: 0 10px 25px -2px rgba(0,0,0,0.4), inset 0 -8px 30px 1px rgba(255,255,255,0.9), 0 -10px 15px -1px rgba(255,255,255,0.6), inset 0 8px 25px 0 rgba(0,0,0,0.4), inset 0 0 10px 1px rgba(255,255,255,0.6);
}
.toggle input:active ~ .label i {
  font-size: 15px;
  color: rgba(0,0,0,0.45);
}
.toggle input:checked ~ .button {
  box-shadow: 0 10px 25px -2px rgba(0,0,0,0.4), inset 0 -8px 25px -1px rgba(255,255,255,0.9), 0 -10px 15px -1px rgba(255,255,255,0.6), inset 0 8px 20px 0 rgba(0,0,0,0.2), inset 0 0 5px 1px rgba(255,255,255,0.6);
}
.toggle input:checked ~ .label i {
  font-size: 15px;
  color: rgba(0,0,0,0.4);
}
